@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:ital,wght@0,200;0,400;1,400&family=Playfair+Display&family=Roboto:wght@100&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 500ms ease-in-out;
}

.sidebar >div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 500ms ease-in-out;
}

.main-slide >div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: rgb(89, 85, 85);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.5);;
  width: 30px;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 3px;
}

.container .controls .up-button {
  transform: translateY(-100%); 
  background: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 3px;
}



