@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,400&family=Roboto:wght@100&display=swap');

body {
  font-family:Montserrat;
  font-size: 24px;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #333b46, #62606d, #938993, #c4b4ba, #f5e3e3);
  height: 100vh;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  overflow: hidden;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  background-color: rgba(163, 35, 35,0.5);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item {
  width: 150px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background-color: rgba(35,35,35,0.5);
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.hold {
  opacity: 0.7;
}

.hidden {
  opacity: 0;
}

.hovered {
  border-top: 1px solid red;
  background-color: cornflowerblue;
}